[options]
admin_passwd = {{ odoo_conf.admin_passwd | default('admin') }}
data_dir = {{ odoo_user_home_directory }}/.local/share/{{ odoo_conf.data_dir | default('Odoo') }}
db_host = {{ odoo_conf.db_host | default(false) }}
db_maxconn = {{ odoo_conf.db_maxconn | default('64') }}
db_name = {{ odoo_conf.db_name | default('') }}
db_password = {{ odoo_conf.db_password | default(false) }}
db_port = {{ odoo_conf.db_port | default(false) }}
db_sslmode = {{ odoo_conf.db_sslmode | default('prefer') }}
db_template = {{ dooo_conf.db_template | default('template1') }}
db_user = {{ dooo_conf.db_user | default(odoo_user) }}
dbfilter = {{ odoo_conf.dbfilter | default('') }}
addons_path = {{ odoo_installation_path }}/addons,{{ odoo_conf.addons_path | default(odoo_custom_addons_path) }}
demo = {{ odoo_conf.demo | default({}) }}
email_from = {{ odoo_conf.email_from | default(false) }}
geoip_database = {{ odoo_conf.geoip_database | default('') }}
http_enable = {{ odoo_conf.http_enable | default(true) }}
http_interface = {{ odoo_conf.http_interface | default('') }}
http_port = {{ odoo_conf.http_port | default('8069') }}
import_partial = {{ odoo_conf.import_partial | default('') }}
limit_memory_hard = {{ odoo_conf.limit_memory_hard | default('2684354560') }}
limit_memory_soft = {{ odoo_conf.limit_memory_soft | default('2147483648') }}
limit_request = {{ odoo_conf.limit_request | default('8192') }}
limit_time_cpu = {{ odoo_conf.limit_time_cpu | default('60') }}
limit_time_real = {{ odoo_conf.limit_time_real | default('120') }}
limit_time_real_cron = {{ odoo_conf.limit_time_real_cron | default('-1') }}
list_db = {{ odoo_conf.list_db | default(true) }}
log_db = {{ odoo_conf.log_db | default(false) }}
log_db_level = {{ odoo_conf.log_db_level | default('warning') }}
log_handler = {{ odoo_conf.log_handler | default(["[':INFO'],[':DEBUG'],[':ERROR'],[':WARNING'],[':CRITICAL']"]) }}
log_level = {{ odoo_conf.log_level | default('info') }}
logfile = {{ odoo_log_directory }}/{{ odoo_log_filename }}
logrotate = {{ odoo_conf.logrotate | default(true) }}
longpolling_port = {{ odoo_conf.longpolling_port | default('8052') }}
max_cron_threads = {{ odoo_conf.max_cron_threads | default('0') }}
osv_memory_age_limit = {{ odoo_conf.osv_memory_age_limit | default('1.0') }}
osv_memory_count_limit = {{ odoo_conf.osv_memory_count_limit | default(false) }}
pg_path = {{ odoo_conf.pg_path | default(postgresql_bin_path) }}
pidfile = {{ odoo_conf.pidfile | default('None') }}
proxy_mode = {{ odoo_conf.proxy_mode | default(false) }}
reportgz = {{ odoo_conf.reportgz | default(false) }}
server_wide_modules = {{ odoo_conf.server_wide_modules | default('web') }}
smtp_password = {{ odoo_conf.smtp_password | default(false) }}
smtp_port = {{ odoo_conf.smtp_port | default('25') }}
smtp_server = {{ odoo_conf.smtp_server | default('localhost') }}
smtp_ssl = {{ dooo_conf.smtp_ssl | default(false) }}
smtp_user = {{ dooo_conf.smtp_user | default(false) }}
syslog = {{ dooo_conf.syslog | default(false) }}
test_commit = {{ dooo_conf.test_commit | default(false) }}
test_enable = {{ dooo_conf.test_enable | default(false) }}
test_file = {{ dooo_conf.test_file | default(false) }}
test_report_directory = {{ dooo_conf.test_report_directory | default(false) }}
translate_modules = ['all']
unaccent = {{ dooo_conf.unaccent | default(false) }}
without_demo = {{ dooo_conf.without_demo | default(false) }}
workers = {{ odoo_conf.workers | default('0') }}
